/* Bootstrap fixes/hacks */

.glyphicon:before { position: relative; top: 2px; }
.navbar { margin-bottom: 0px; }

/* click-tracks styles */

body { font-family: 'Nunito', sans-serif; }

.container-inverse { background-color: #222; color: #999; }
